body{
	margin:0px;
}

header{
	width:inherit;
	height:60px;
}

/* Tamaño del Header */

header  nav .nav-right-section{

	height: 40px;

	display: flex;
	justify-content:flex-end;
	align-items:center;

	padding-right:20px;
}

a{
	text-decoration: none;
}

header nav .nav-right-section li{
	list-style: none;

	padding-right: 10px;

}

header nav .nav-right-section li a{
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 13px;

}

nav .nav-right-section .apps-icon{
	background-image: url("../images/apps-icon.png");
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;

	width:50px;
	height: 26px;

	padding:0;
	margin-right: 10px;
}

nav .nav-right-section button{

	color:white;
	font-weight:600;
	background-color:#4684ED;
	border: 1px solid transparent;
	border-radius:2px;
	height:30px;

	padding: 3px 10px;

}

/* Header */


/* Section Main */

.main{

	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}

.main-logo{
	height: 200px;
}

.main-logo .main-logo-container img{
	width: 350px;
}

.main-searcher{

	width: 500px;
	height: 35px;

}


.main-searcher .main-searcher-container{

	display: flex;
	justify-content:space-between;
	align-items:center;
	border:1px solid #dfe1e5;
	border-radius: 100px;



	padding: 0 10px;
}

.main-searcher-container:hover{
	box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}


.main-searcher .main-searcher-container input{
	height: 30px;
	width: -webkit-fill-available;


	border: none;
	outline: none;

	padding-left:10px;
	padding-bottom: 2px;
}


.main-searcher .main-searcher-container .google-search{
	background-image:url("../images/google-lens.png");
	background-size: contain;
	background-repeat: no-repeat;

	width: 20px;
	height: 18px;
}

.main-searcher .main-searcher-container a img{
	
	object-fit:cover;
}

	
.google-search, .google-micro img{

	width:30px;
	height: 30px;
}


.main .main-buttons{
	margin-top:20px;
}

.main .main-buttons .main-buttons-container{

	/*Container Items */
}
.main .main-buttons .main-buttons-container button{

	margin-right: 10px;

	padding: 0 10px;
	height: 35px;

	border:1px solid transparent;
	border-radius: 4px;

	cursor: pointer;

}

.main .main-buttons .main-buttons-container button:hover{
	border-color: gray;
}


/*                      Main                 */

/*                      Footer               */


footer{
	background: #f2f2f2;
	height: 35px;
	bottom: 0;
	width: 100%;

	border-top: 1px solid #e4e4e4;

	display: flex;
	justify-content:space-between;
	align-items:center
	;


}

footer div a{
	color: #6f6f6f;

	margin: 0 10px;

	font-size: 15px;
	font-family: arial;

}


footer div{

	margin: 10px 10px;
}












